//fonts
$font1: 'Nanum Gothic', sans-serif; //400, 800
$font2: 'Lato', sans-serif; //700, 900


//background colours
$bgcolor1:#EBEBEC; // Isabelline
$bgcolor2:#2e2e2e;
$bgcolor3:#97989b;

//font colours
$fontcolor1:#11151c;
$fontcolor2:#F1BA5B; //Maximum Yellow Red
$fontcolor3:#97989b;
//accent colours
$accent1:#277394; //Lapis Lazuli
$accent2:#65C6D7; //Sea Serpent
$accent3:#0AD3B4; // Tiffany Blue
